/* Colores usados: lawngreen, , darkred, .
Las filas tienen un borde inferior de 1px, solid. */
td {
    border-bottom: 1px solid black;

}

.gris {
    color: gray;
}

.verde {
    background-color: lawngreen;
}

.rojo {
    background: darkred;
    color: white;
}